# Configuración de la Base de Datos
DB_NAME=nature_grow
DB_USER=root
DB_PASSWORD=your_password
DB_HOST=localhost

# Configuración del Servidor
PORT=3000

# Configuración de JWT
JWT_SECRET=your-secret-key

# Configuración de Entorno
NODE_ENV=development

# Credenciales del Administrador por Defecto
ADMIN_EMAIL=admin@naturegrow.com
ADMIN_PASSWORD=admin123456 